appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
black==19.3b0
Click==7.0
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
mypy==0.711
mypy-extensions==0.4.1
numpy==1.16.4
Pillow==6.1.0
pkg-resources==0.0.0
six==1.12.0
toml==0.10.0
torch==1.1.0
torchvision==0.3.0
typed-ast==1.4.0
wrapt==1.11.2
